.main_time {
  gap: 6px !important;
}

.pik_clr {
  background: linear-gradient(
    98.76deg,
    rgb(56, 195, 207) 0%,
    rgb(135, 103, 211) 100%
  ) !important;
  color: white !important;
  border-radius: 5px;
  font-weight: 600;
}
